body{
    background-color: black;
}
img{
    display: block;
    position: relative;
    top: 150px;
    margin: auto;
    border-radius: 10px;
}
img:hover{
    cursor: pointer;
}
#text1{
    position: relative;
    top: -300px;
    left: 200px;
    color: yellow;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#text2{
    position: relative;
    top: -300px;
    left: 280px;
    color: rgb(187, 29, 187);
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box1{
    display: block;
    position: absolute;
    top: 200px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(145, 136, 136);
    z-index: 1;
}
#in1, #in2{
    display: block;
    padding: 2px;
    position: absolute;
    top: 80px;
    left: 110px;
    font-size: 18px;
    justify-content: center;
    background-color: rgb(185, 190, 194);
    border-style: none;
    border-radius: 3px;
    color: black;
}
#in1{
    border-style: groove;
    border-color: black;
}
#in2{
    border-radius: 5px;
    border-style: groove;
    top: 80px;
    left: 330px;
}
h3{
    position: absolute;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    left: 150px;
    top: -15px;
    font-size: 30px;
    color: rgb(133, 185, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#in1::placeholder{
    text-align: center;
    color: rgb(66, 60, 60);
}
#im{
    position:absolute;
    z-index: 2;
    top: 335px;
    left: 200px;
}
#wrap1{
    display: flexbox;
    position: absolute;
}
#in2:hover{
    cursor: pointer;
}
#logo1{
    display: block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    box-sizing: border-box;
    left: 850px;
    top: 280px;
    padding: 4px;
    transition: transform 0.3s ease;
}
#logo2{
    display: block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    box-sizing: border-box;
    left: 950px;
    top: 280px;
    padding: 4px;
    transition: transform 0.3s ease;
}

#logo3{
    display: block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    box-sizing: border-box;
    left: 1050px;
    top: 280px;
    padding: 4px;
    transition: transform 0.3s ease;
}

#logo4{
    display: block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    box-sizing: border-box;
    left: 1150px;
    top: 280px;
    padding: 4px;
    transition: transform 0.3s ease;
}

#wrap2{
    display: flexbox;
    position: absolute;
    top: 10px;
    z-index: 10;
}
#border{
    display: block;
    height: 140px;
    width: 400px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 840px;
    z-index: 9;
}
#logo1:hover{
    transform: translateY(-10px);
}
#logo2:hover{
    transform: translateY(-10px);
}
#logo3:hover{
    transform: translateY(-10px);
}
#logo4:hover{
    transform: translateY(-10px);
}

#scrollbutton{
    display: block;
    position: absolute;
    height: 100px;
    left: 575px;
    width: 220px;
    border-radius: 20px;
    background-color: rgb(92, 2, 104);
    top: 500px;
    transition: box-shadow 0.2s ease-in;
}
#scrollbutton:hover{
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#btntext{
display: block;
position: absolute;
left: 25px;
top: 28px;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
font-weight: bold;
}

#im2{
    position: absolute;
    top: 535px;
    left: 750px;
}

#infoBox{
    display: block;
    position: absolute;
    top: 900px;
    height: 920px;
    width: 600px;
    left: 30px;
    bottom: 200px;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
}

#infotxt, #infotxt2{
color: rgb(197, 195, 195);
font-size: large;
padding: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 40px;
padding: 40px;
word-spacing: 4px;
}

#im3{
    position: absolute;
    top: 965px;
    left: 800px;
}

#im4{
    position: absolute;
    top: 1500px;
    left: 770px;
}

#navtxt1, #navtxt2, #navtxt3{
    position: absolute;
    top: 1900px;
    padding: 10px;
    margin-bottom: 10px;
    left: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

#navtxt1{
    left: 425px;
    
}

#navtxt2{
    left: 625px;

}

#navtxt3{
    left: 825px;
}

#navbar{
    display: flex;
    padding-bottom: 1700px;
}

#navtxt1:hover, #navtxt2:hover, #navtxt3:hover{
  background-color: white;
  color: black;
  border: 2px solid white;
}

#groove{
    border-top: 2px solid white;
    position: relative;
    margin: 20px 0px;
    top: 1600px;
    
}

#endtxt{
    position: absolute;
    color: black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    top: 2000px;
    left: 586px;
    background-color: white;
    padding: 3px;
}
